<agm-map 
    (mapReady)="geoCodeLocatioHandler()" 
    [latitude]="lat" 
    [longitude]="lng"
    [zoom]="13">
  <agm-circle *ngIf="!isPositionError && lat && lng"
    [latitude]="lat" 
    [longitude]="lng"
    [radius]="800"
    [fillColor]="'#F44336'"
    [fillOpacity]="0.4">
  </agm-circle>
  <agm-info-window *ngIf="isPositionError"
    [latitude]="0" 
    [longitude]="0"
    [maxWidth]="300"
    [isOpen]=true>
    There is a problem finding the location on the Map. We are trying to resolve the problem at the earliest. Please bear with us.
  </agm-info-window>
</agm-map>
